@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('/fonts/OpenSansBold.woff2') format('woff2'),
        url('/fonts/OpenSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('/fonts/OpenSansRegular.woff2') format('woff2'),
        url('/fonts/OpenSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('/fonts/OpenSansSemiBold.woff2') format('woff2'),
        url('/fonts/OpenSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;  
}

.container {
    max-width: 984px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

td {
    margin: 0;
    padding: 11px;
    border: none;
}

tr {
    height: 60px;
}

/* кнопки */
.btn {
    margin: 0;
    padding: 0;
    border: none;
}

.btnChange {
    padding-left: 14px;
    background-image: url(../img/change.svg);
    background-position: left 0px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btnDelete {
    padding-left: 14px;
    background-image: url(../img/delete.svg);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

h1,
h2 {
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 10;
}

.header__container {
    align-items: center;
    padding: 20px;
}

.header__logo {
    margin-bottom: -5px;
}

.header__search {
    width: 100%;
    margin-left: 53px;
}

.search__input {
    font-family: Open Sans;
    width: 560px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
}

/* Clients */


.clients__container {
    padding-top: 131px;
}

.clients__title {
    margin: 0;
    margin-bottom: 9px;
    font-size: 24px;
    user-select: none;
}

.clients__table {
    width: 100%;
    margin-bottom: 40px;
    font-size: 12px;
    color: #B0B0B0;
    border-spacing: 0px;
    border-collapse: collapse;
    line-height: 16.34px;
}

thead th,
thead tr {
    height: 33px;
    /* Пример установки высоты */
}

.clients__thead th {
    padding-bottom: 8px;
    padding-left: 11px;
    user-select: none;
    vertical-align: bottom;
    font-weight: 400;
    text-align: left;
}

.thId {
    color: #9873FF;
    background-image: url(../img/id.svg);
    background-position: 33px 19px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.thFio {
    background-image: url(../img/fio.svg);
    background-position: 160px 19px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.createdAt {
    background-image: url(../img/downArrow.svg);
    background-position: 75px 21px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.updatedAt {
    background-image: url(../img/downArrow.svg);
    background-position: 86px 21px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.clients__tbody {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
}


/* модальное окно добавления клиента */

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalAddDiv {
    width: 450px;
    min-height: 400px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.modalDivFio {
    margin: 24px 30px;
    margin-bottom: 25px;
}

.clients__button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 12.5px 26.5px;
    padding-left: 58px;
    color: #9873FF;
    background-color: transparent;
    border: 1px solid #9873FF;
    background-image: url(../img/person.svg);
    background-position: 26px 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
}

.clients__button:hover {
    font-size: 14px;
}

.btnSave {
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 12.5px 35px;
    background-color: #9873FF;
    border: none;
    color: white;
    display: block;
    cursor: pointer;
}

.modalCloseButton {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
}

.divOpenContacts {
    background-color: rgba(200, 197, 209, 0.3);
    margin-bottom: 25px;
}

.btnOpenContacts {
    margin: 0;
    padding: 8px 0;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background-image: url(../img/plus.svg);
    background-position: 110px center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.errorMessage,
.errorMessageNum {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
    text-align: center;
    color: #F06A4D
}



.remainingContacts {
    position: relative;
    top: -5px;
    padding: 3px;
    width: 16px;
    height: 16px;
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 600;
    line-height: 10.89px;
    text-align: left;
    border: 1px solid #9873FF;
    border-radius: 50%;
}

.modalDelP {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.styleInput {
    min-height: 37px;
    display: flex;
    outline: 1px solid #C8C5D1;
}

.modalSelect {
    width: 123px;
    border: none;
    outline: none;
    background-color: #E7E5EB;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.modalInput {
    width: 100%;
    padding-left: 12px;
    border: none;
    outline: none;
    border-left: 1px solid #C8C5D1;
}

.inputCloseBtn {
    width: 27px;
    border: none;
    outline: none;
    border-left: 1px solid #C8C5D1;
    background-image: url(../img/inputClose.svg);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table img {
    margin-right: 7px;
    white-space: pre-wrap;
}

/* модальное окно удаление клиента */

.modalDelete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalDeleteActive {
    position: absolute;
    width: 450px;
    height: 215px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    cursor: default;
    margin: 0 auto;
    text-align: center;
    padding-top: 22px;
}

.modalDeleteH1 {
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
}

.modalDeleteP {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;

}

.modalDeleteCancel {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    cursor: pointer;
    text-decoration: underline;
}

.hours {
    display: inline;
    margin: 0;
    margin-left: 10px;
    color: #B0B0B0;

}

.form__change {
    display: none;
    margin-bottom: 15px;
}

/* ////////////////////// */

.modalName {
    width: 390px;
    margin-bottom: 32px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    opacity: 0.5;
}

.modalName:last-child {
    margin: 0;
}


/* модальное окно изменения клиента */
.modalChangeActive {
    position: absolute;
    width: 450px;
    min-height: 400px;
    left: 50%;
    top: 50%;
    padding: 25px 30px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    cursor: default;
    margin: 0 auto;
    text-align: center;
    padding-top: 22px;
}

.modalChangeH1 {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
}

.modalChangePID {
    margin: 0;
    margin-top: 6px;
    margin-left: 5px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: #B0B0B0;
}

.modalNameChange {
    width: 100%;
    height: 24px;
    margin-bottom: 15px;
    padding: 0;
    font-family: Open Sans;
    font-size: 14px;
    /* font-weight: 600; */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.surnameInputAbove {
    margin: 0;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #B0B0B0;
}

/* подсказка при наведении на икунку контакта */
/* .tooltip {
    position: fixed;
    padding: 15px;
    text-align: center;
    color: white;
    background-color: black;
} */
.tooltip {
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    opacity: 0;
    /* Начальное состояние: полностью прозрачно */
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    /* При наведении подсказка становится видимой */
}

.tooltip-link {
    color: #B89EFF;
    /* Фиолетовый цвет текста */
    text-decoration: underline;
    /* Подчеркивание текста */
    pointer-events: auto;
    /* Восстанавливаем возможность взаимодействия с ссылкой */
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: -40px;
    margin-bottom: 20px;
    background-color: #FFF;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #9873FF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}